<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
   	<script type="text/javascript" src="{% static "js/fusioncharts.js" %}"></script>
   	<script type="text/javascript" src="{% static "js/themes/fusioncharts.theme.fusion.js" %}"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>

    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
  <body>
  <div class="container">
       <div class = "row" >
            <div class='col map border' id='map'
                 style='height:400px;
                        border-width: 3px !important;
                        border-radius: 4px'>
            </div>
       </div>
        <div class = "row">
            <h3>{{ chartTitle|safe }}</h3>
            <div id="chart-1" class="col">{{ output|safe }}</div>
            <a href="/">Back</a>
        </div>
    </div>
     {{ mapbox_access_token|json_script:"create-map"}}
       <script type="module" src="{% static "js/main.js" %}"></script>
  </body>
</html>